<!-- Launch file for autonomy. Author : James Madison University -->
<launch>


<!-- node name="competition_timer" pkg="imperio" type="competition_timer.py"/ -->
<!-- commented out the dashboard for development, remove for actual launch -->
<!-- node name="dashboard" pkg="imperio" type="dashboardLaunch.bash"/ -->
<node name="imperio" pkg="imperio" type="imperio_control.py"/>


<!-- time limit (in minutes) should be 10, can be changed for testing purposes -->
<param name="time_limit" value="10"/>
<param name="turn_around" value="1"/>
<param name="location_accuracy" value="0.1"/>

</launch>
