<!-- Launch file for imperio and the testing environment. Author : Nicole Maguire -->
<launch>


<!-- node pkg="rviz" type="rviz" name="rviz"/ -->

<include file="$(find description)/launch/display_and_load.launch"/>
<include file="$(find wheel_control)/launch/sim_waypoint_controller.launch"/>
<include file="$(find dig_control)/launch/sim_dig_master.launch"/>
<include file="$(find dig_control)/launch/sim_outrigger_master.launch"/>
<include file="$(find imperio)/launch/imperio.launch"/>
<include file="$(find mapping)/launch/costmap_2d.launch"/>
</launch>
