<!-- Launch file for testing on the actual robot, this one uses the competition Timer. Author : Nicole Maguire -->

<launch>

<node name="competition_timer" pkg="imperio" type="competition_timer.py"/>

<include file="$(find mapping)/launch/costmap_2d.launch"/>
<node name="imperio" pkg="imperio" type="imperio_control.py" output="screen"/>


<!-- Change these for different testing setups -->
<!-- Change this to False if you don't want imperio to try and loop it's state machine -->
<param name="loop_imperio" value="True"/>

<!-- Params Imperio Needs to Run -->

<!-- How close the robot needs to be to the goal -->
<param name="location_accuracy" value="0.1"/>
<!-- turn around (in minutes) is how many minutes before the competition ends that the robot should turn around -->
<param name="turn_around" value="1"/>
<!-- time limit (in minutes) should be 10, can be changed for testing purposes -->
<param name="time_limit" value="10"/>

</launch>
