[submodule "src/lpms_imu"]
	path = src/hardware_layer/lpms_imu
	url = git@github.com:BisonRobotics/lpms_imu.git
[submodule "src/timesync"]
	path = src/hardware_layer/timesync
	url = git@github.com:BisonRobotics/timesync.git
[submodule "src/realsense_samples_ros"]
	path = src/hardware_layer/realsense_samples_ros
	url = git@github.com:BisonRobotics/realsense_samples_ros.git

[submodule "src/hardware_layer/dynamixel"]
	path = src/hardware_layer/dynamixel
	url = git@github.com:BisonRobotics/dynamixel.git
