[submodule "src/ros_vrep_plugin"]
	path = src/ros_vrep_plugin
	url = git@github.com:jacobhuesman/ros_vrep_plugin.git
[submodule "src/realsense_samples_ros"]
	path = src/realsense_samples_ros
	url = git@github.com:BisonRobotics/realsense_samples_ros.git
