*~
.qglviewer.xml
.cproject
.project
.pydevproject
.catkin_tools
cmake_install.cmake
build/
devel/
install/
lib/
logs/
msg_gen/
srv_gen/
*.idea/
config.rviz
*.swo
*.swp
*.bag
*.bag.tar.gz
*.bag.zip
.catkin_workspace
cmake-build-debug/
*.pyc
tmp/
