rock_03.ttm filter=lfs diff=lfs merge=lfs -text
rock_04.ttm filter=lfs diff=lfs merge=lfs -text
rock_06.ttm filter=lfs diff=lfs merge=lfs -text
rock_08.ttm filter=lfs diff=lfs merge=lfs -text
rock_12.ttm filter=lfs diff=lfs merge=lfs -text
rock_13.ttm filter=lfs diff=lfs merge=lfs -text
arena_with_floor.ttm filter=lfs diff=lfs merge=lfs -text
emydidae_with_vision_sensors.ttm filter=lfs diff=lfs merge=lfs -text
rock_01.ttm filter=lfs diff=lfs merge=lfs -text
rock_02.ttm filter=lfs diff=lfs merge=lfs -text
rock_07.ttm filter=lfs diff=lfs merge=lfs -text
emydidae.ttm filter=lfs diff=lfs merge=lfs -text
rock_10.ttm filter=lfs diff=lfs merge=lfs -text
rock_11.ttm filter=lfs diff=lfs merge=lfs -text
rock_05.ttm filter=lfs diff=lfs merge=lfs -text
rock_09.ttm filter=lfs diff=lfs merge=lfs -text
