<?xml version="1.0"?>
<robot name="arena">
    <material name="black">

        <color rgba="0.10 0.10 0.10 1"/>
    </material>
    <!-- Define materials -->
    <material name="brown">
        <color rgba="0.45 0.45 0.28 1"/>
    </material>

    <material name="red">
        <color rgba="0.5 0.24 0.00 1"/>
    </material>

    <material name="green">
        <color rgba="0.24 0.34 0.00 1"/>
    </material>



    
    
    <link name="map">
        <visual>
            <geometry>
                <mesh filename="package://description/meshes/arena.dae" />
            </geometry>
        </visual>
    </link>

</robot>
