<launch>
  <node name="waypoint_streamer" pkg="wheel_control" type="super_waypoint_master" />
  <node name="position_controller" pkg="wheel_control" type="waypoint_master">
    <param name="simulating_driving" type="bool" value="true"/>
    <param name="initial_theta_tolerance" type="double" value=".2"/>
    <param name="initial_theta_gain" type="double" value=".04"/>
    <param name="time_for_blind_zero" type="double" value="8"/>
    <param name="theta_range" type="double" value=".26"/> <!-- This is 30 degrees/2-->
  </node>
  <node name="waypoint_spoofer" pkg="wheel_control" type="goal_translator.py"/>
</launch>
