<launch>
  <rosparam file="$(find mapping)/yaml/minimal.yaml" command="load" ns="/costmap_node/costmap"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find imperio)/data/costmap.yaml"/>
<node name="static_tf0" pkg="tf" type="static_transform_publisher" args="2 0 0 0 0 0 /map /base_link 100"/>

</launch>
