<launch>
  <!--
    1. Loads the urdfs for the robot and the arena
    2. Publishes all joint state based tfs for the robot and arena
    3. Publishes the joint states that map from other joint states
      - Backhoe to bucket
      - Monoboom linear actuator to backhoe curl
  -->
  <arg name="test_urdf" default="false" />
  <param name="arena_description" command="$(find xacro)/xacro --inorder $(find description)/urdf/arena.urdf" />
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find description)/urdf/robot.urdf test_urdf:=$(arg test_urdf)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_mappings" pkg="description" type="joint_mappings" >
      <param name="test_urdf" value="$(arg test_urdf)" />
  </node>
  <node name="tag_location_publisher" pkg="description" type="tag_location_publisher" />

  <node name="imu_transformer" pkg="imu_transformer" type="imu_transformer_node">
    <remap from="imu_in/data" to="imu"/>
    <remap from="imu_out/data" to="imu_base_link"/>
  </node>

</launch>
