<launch>
  <rosparam file="$(find mapping)/yaml/costmap_inflator.yaml" command="load" ns="/costmap_2d_node/costmap"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find mapping)/data/costmap.yaml"/>
  <node name="costmap_2d_node" pkg="mapping" type="costmap_2d_node"/>

</launch>
