<launch>
  <rosparam file="$(find mapping)/yaml/less_inflation.yaml" command="load" ns="/costmap_less_inflation/costmap"/>
  <rosparam file="$(find mapping)/yaml/more_inflation.yaml" command="load" ns="/costmap_more_inflation/costmap"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(find mapping)/yaml/blank.yaml"/>
  <node name="costmap_less_inflation" pkg="costmap_2d" type="costmap_2d_node"/>
  <node name="costmap_more_inflation" pkg="costmap_2d" type="costmap_2d_node"/>
  <include file="$(find realsense_ros_camera)/launch/demo_pointcloud_and_laser.launch"/>
  <node name="zr300" pkg="dynamixel" type="scanner_node"/>
</launch>
