<launch>
    <include file="$(find wheel_control)/launch/waypoint_controller.launch"/>
    <include file="$(find mapping)/launch/costmap_competition.launch"/>
    <include file="$(find dig_control)/launch/dig_master.launch"/>
    <!--<include file="$(find dig_control)/outrigger_master.launch"/>
--></launch>